<% recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe) do %>
    <div class="row">
      <%= attachment_image_tag recipe, :recipe_image, :fill, 300, 300, fallback: "no_image.png", size: "300x300" %>
    </div>
    <div class="row">
      <%= recipe.recipe_name %>
    </div>
  <% end %>
<% end %>
<%= paginate recipes %>